body {
    font-size: 2.3em;
    overflow: auto;
}

.front > div img {
    width: 100%;
    height: 100%;
}

.top h1 {
    font-size: 2.2em;
    margin-top: 2em;
}

.selfphoto {
    position: absolute;
    right: 0;
}

.center {
    text-align: center;
}

.spread {
    font-size: 1.5em;
}

h3 {
    margin-bottom: 0;
    color: #ff9b22;
    font-size: 1.1em;
}

table {
    background: #EEE;
    color: #000;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.5em;
}

th {
    background: #DDD;
}

td, th {
    text-align: center;
    border: 1px solid #000;
	padding: 0.5em;
}

.right {
    float: right;
}

table {
    margin-top: 2em;
}

.page pre {
	font-size: 0.8em !important;
	line-height: 1.8;
}

.page ol ol {
	padding-left: 2em;
}
.page ol span {
	margin-right: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
}

h2.m {
	line-height: 2;
}

.box2 div {
	float: left;
	width: 400px;
	margin: 0 1em;
}
.box2 p {
	margin: 0;
	padding: 0;
	text-align: center;
}

blockquote {
	background: url(../img/blockquote.gif) #FFF no-repeat 20px 20px;
	-webkit-background-size: 100px;
	-moz-background-size: 100px;
	-o-background-size: 100px;
	-ms-background-size: 100px;
	background-size: 100px;
	color: #000;
	padding: 0 .5em 1em 120px;
	border: 1px solid #999;
	font-size: 0.9em;
}

blockquote cite {
	display: block;
	text-align: right;
	text-align: right;
	font-size: .8em;
	padding: 0 1.5em .5em;
}

time {
	font-size: 0.5em;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

table.origin {
	font-size: 0.7em;
	width: 94.5%;
	margin: 0 auto;
}
table.origin td {
	text-align: left;
}

.progress {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #CCC;
  -webkit-transition: all 20s linear;
}

iframe {
  width: 90%;
  height: 90%;
  border: 2px solid #999;
}
