.mvclist li {
  margin: 0;
  font-size: 1.8em;
}

.mvclist li:first-letter {
  color: #e82b96;
}

iframe {
  width: 90%;
  height: 600px;
  background: #FFF;
}

.spread2 {
  padding-top: 1.0em;
  text-align: center;
}

.spread2 h2 {
  font-size: 2.0em;
  margin-bottom: 1.0em;
  color: #ff9b22;
}
.spread2 p {
  font-size: 1.6em;
  margin: 0.5em 0;
}

.answer h2 {
  color: #ff9b22;
}

.viewport {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
}

.flipsnap {
    width: 690px;
    padding-left: 45px;
}

.flipsnap::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.item {
    width: 200px;
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
    background: #EFEFEF;
    border: 5px solid #999;
    float: left;
    color: #666;
}
